.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

.navbar-list {
  display: flex;
  justify-content: space-around; /* Use space-around to spread the items evenly */
  list-style: none;
  width: 100%; /* Ensure the list takes the full width of the navbar */
  padding: 0;
  margin: 0;
}

.navbar-item {
  flex: 1; /* Make each item take up equal space */
  text-align: center; /* Center-align text within each item */
}

.navbar-item a,
.navbar-item button {
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-item button.logout-button {
  color: white;
  background-color: #f44336;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.navbar-item button.logout-button:hover {
  background-color: #d32f2f;
}

.navbar-item .active {
  font-weight: bold;
}
